{% extends "base.html" %}

{% block content %}

<h1><a href="/products">Return to all products</a></h1>

{% for product in products %}

{% if product.supplier.name == id %}
    <div class="box">
        <h1><a href="/products/{{product.id}}">{{product.name}}</a></h1>
        <p>{{product.description}}</p>
        <p>{{product.buying_cost}}</p>
        <p>{{product.sell_price}}</p>
        <p>{{product.stock_count}}</p>
        <p>{{product.type_of_product}}</p>
        <p>{{product.supplier.name}}</p>
        <p>{{product.mark_up()}}</p>
        <p>{{product.show_stock()}}</p>
        
    </div>
{% endif %}

{% endfor %} 

{% for product in products %}

{% if product.type_of_product == id %}
    <div class="box">
        <h1><a href="/products/{{product.id}}">{{product.name}}</a></h1>
        <p>{{product.description}}</p>
        <p>{{product.buying_cost}}</p>
        <p>{{product.sell_price}}</p>
        <p>{{product.stock_count}}</p>
        <p>{{product.type_of_product}}</p>
        <p>{{product.supplier.name}}</p>
        <p>{{product.mark_up()}}</p>
        <p>{{product.show_stock()}}</p>
        
    </div>
{% endif %}

{% endfor %}   

{% endblock %}