{% extends "base.html" %}

{% block content %}

<div id="contents">

<div class="dropdown">
    <button class="dropbtn">Filter by manufacturer</button>
    <div class="dropdown-content">
    {% for supplier in suppliers %}
    <a href="/products/via/{{supplier.name}}">{{supplier.name}}</a>
    {% endfor %}
    </div>
</div>

{% for product in products %}

    <div class="box">
        <h1><a href="/products/{{product.id}}">{{product.name}}</a></h1>
        <p>{{product.description}}</p>
        <p>{{product.buying_cost}}</p>
        <p>{{product.sell_price}}</p>
        <p>{{product.stock_count}}</p>
        <p>{{product.type_of_product}}</p>
        <p>{{product.supplier.name}}</p>
        <p>{{product.mark_up()}}</p>
        <p>{{product.show_stock()}}</p>
    </div>

{% endfor %} 
</div>
{% endblock %}

