{% extends "base.html" %}

{% block content %}

    <div class="box">
        <h1>{{product.name}}</h1>
        <p>{{product.description}}</p>
        <p>{{product.buying_cost}}</p>
        <p>{{product.sell_price}}</p>
        <p>{{product.stock_count}}</p>
        <p>{{product.type_of_product}}</p>
        <p>{{product.supplier.name}}</p>
        <p>{{product.mark_up()}}</p>
        <p>{{product.show_stock()}}</p>
        <p><a = href="/products/{{product.id}}/edit">Edit product</a></p>
    </div>

{% endblock %}