{% extends "base.html" %}

{% block content %}
<body class="product-background">
    <div class="box">
        <h1>{{product.name}}</h1>
        <p><b>Description: </b>{{product.description}}</p>
        <p><b>Buying cost: £</b>{{product.buying_cost}}</p>
        <p><b>Sell price: </b>£{{product.sell_price}}</p>
        <p><b>Quantity in stock: </b>{{product.stock_count}}</p>
        <p><b>Type of product: </b>{{product.type_of_product}}</p>
        <p><b>Supplier: </b>{{product.supplier.name}}</p>
        <p><b>Mark up: </b>£{{product.mark_up()}}</p>
        <p>{{product.show_stock()}}</p>
        <p><a = href="/products/{{product.id}}/edit">Edit product</a></p>
    </div>

{% endblock %}
</body>