{% extends "base.html" %}

{% block content %}

<body class="supplier-background">

<div class='box'>
    <form action="/suppliers/{{ supplier.id }}" method="POST">
        <label for="name">Supplier name: </label><br>
        <input type="text" id="name" name="name" value="{{ supplier.name }}" required autofocus><br>

        <label for="location">Supplier description: </label><br>
        <input type="text" id="location" name="location" value="{{ supplier.location }}" required><br>

        <select id="active" name="active">
        <option value=1>True</option>
        <option value=0>False</option>
        </select>

        <button type="submit">Update supplier</button>
    </form>
</div>

{% endblock %}
</body>