body{
    background-color:rgb(0, 0, 0);
    background-image: url(/static/images/Space.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

body.home-background{
  background-image: url(/static/images/Space.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

body.product-background{
  background-image: url(/static/images/SHOP_BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

body.supplier-background{
  background-image: url(/static/images/Warehouse.jpg.webp);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

#nav_bar{
    background-color: darkslateblue;
    border-radius: 25px;
    display:flex;
    margin-left: 27%;
    margin-right:27%;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif; font-size: 20px; 
    filter:drop-shadow(0 0 0.75rem black)
  }

#nav_bar li{
    margin-left: 2%;
    margin-right:2%;
    list-style: none;
    padding:5px;
    
  }
#nav_bar li a:link {
    color: red;
  }
#nav_bar li a:visited{
    color:whitesmoke;
  }

.container{
    display: flex;
    flex-wrap: wrap;
    width: 90em;
    margin: 0 auto;
  }

.width-of-products{
  margin-top: 5em;
  width:90em;
  display:flex;
  flex-wrap: wrap;
  z-index: 1;
  position:absolute;
}

.return{
  border-radius: 25px;
  background-color: rgb(129, 107, 150);
  width:auto;
  height:90px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left:37%;
  margin-right:37%;
  margin-bottom: 2%;
  filter: drop-shadow(0 0 0.75rem grey);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.726), 0 6px 20px 0 rgba(0, 0, 0, 0.671);
}

.return a{
  color:ghostwhite;
}

.box{
    border-radius: 25px;
    background-color: aliceblue;
    width: 25em;
    height: auto;
    display: flex;
    line-height: 18px;
    margin-bottom: 2%;
    margin-left:2%;
    flex-direction: column;
    padding-left: 10px;
    padding-right:10px;
    filter: drop-shadow(0 0 0.75rem grey);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.726), 0 6px 20px 0 rgba(0, 0, 0, 0.671);
  }

.box2{
  border-radius: 25px;
  background-color: aliceblue;
  width: auto;
  height: auto;
  display: flex;
  line-height: 18px;
  margin-bottom: 2%;
  margin-left:27em;
  flex-direction: column;
  padding:50px;
  filter: drop-shadow(0 0 0.75rem grey);
  font-family: 'Times New Roman', Times, serif; font-size: 20px; 
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.726), 0 6px 20px 0 rgba(0, 0, 0, 0.671);
  }

.box3{
  border-radius: 25px;
  background-color: aliceblue;
  width: auto;
  height: auto;
  display: flex;
  line-height: 18px;
  margin-bottom: 2%;
  margin-left:3em;
  flex-direction: column;
  padding:50px;
  filter: drop-shadow(0 0 0.75rem grey);
  font-family: 'Times New Roman', Times, serif; font-size: 20px; 
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.726), 0 6px 20px 0 rgba(0, 0, 0, 0.671);
  }

#container-headline {
    text-align: center;
}
#container-headline > div {
    display: inline-block;
    vertical-align: middle;
}

#red{
  font-family: 'Times New Roman', Times, serif; font-size: 20px; color:red;
}

#yellow{
  font-family: 'Times New Roman', Times, serif; font-size: 20px; color:yellow;
}

#green{
  font-family: 'Times New Roman', Times, serif; font-size: 20px; color:greenyellow;
}

#submit-width{
  width:95%;
}

/* HERE IS DROPDOWN START */

.dropdown {
    position:relative;
    z-index:2;
    margin-left:2%;
  }

.dropbtn {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 140px;
    filter: drop-shadow(0 0 0.75rem grey);
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;
  }
  
.dropdown:hover .dropbtn {
    background-color: darkblue;
  }
