body{
    background-color:gainsboro;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 90em;
    margin: 0 auto;
  }

#contents{
    display: flex;
    flex-wrap: wrap;
    width: 80em;
    margin: 0 auto;
  }

.box{
    border-radius: 25px;
    background-color: white;
    width: 20em;
    height: auto;
    display: flex;
    line-height: 18px;
    margin-bottom: 2%;
    margin-left:2%;
    flex-direction: column;
    padding-left: 4px;
    filter: drop-shadow(0 0 0.75rem grey);
  }


/* HERE IS DROPDOWN START */

.dropdown {
    position: fixed;
    display: inline-block;
    margin-left: 69em;
  }

.dropbtn {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    filter: drop-shadow(0 0 0.75rem grey);
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;
  }
  
.dropdown:hover .dropbtn {
    background-color: darkblue;
  }
/* HERE IS DROPDOWN FINISH */